### Q1) Write a function to multiply all the numbers in a list.

In [ ]:
def multiply(*args):
  n = 1
  for i in range(len(args)):
    n *= args[i]
  return(n)

In [ ]:
multiply(3,4,2,1)

24

### Q2) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [ ]:
def factorial(number):
  if(number==0):
    return 1
  else:
    return(factorial(number-1)*(number))

In [ ]:
factorial(5)

120

### Q3) Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [32]:
def string_conversion(a):
  highcase=0
  lowercase = 0
  for i in a:
    if(i==i.upper()):
      highcase+=1
    elif(i==i.lower()):
      lowercase+=1
  return ("Highercase=",highcase,"LowerCase=",lowercase)

In [33]:
string_conversion("WeWillRockYou")

('Highercase=', 4, 'LowerCase=', 9)

### Q4) Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [45]:
def unique_items(*args):
  unique_list = []
  for i in args:
    if i not in unique_list:
      unique_list.append(i)
  return (unique_list)

In [47]:
unique_items(1,3,2,1,2,3,5)

[1, 3, 2, 5]

### Q5) Write a Python program to print the even numbers from a given list.

In [49]:
def even_numbers(*args):
  even_list = []
  for i in args:
    if(i%2==0):
      even_list.append(i)
  return (even_list)

In [50]:
even_numbers(1,2,3,4,5,6,7,8,9)

[2, 4, 6, 8]

### Q6) Write a function to remove all duplicates from a given string.

In [61]:
def remove_duplicates(a):
  unique = ''
  for i in a:
    if i not in unique:
      unique+=i
  return(unique)

In [62]:
remove_duplicates('abracadabra')

'abrcd'